.conatiner{
  background-color: #ddd;
}
.flex{
  display: flex;
  height: 100%;
}
.col-1{
  flex: 1;
  background-color: #d6d4d4;
}
.col-2{
  flex: 2;
  background-color: #efefef;
}
.col-3{
  flex: 1;
  background-color: #d6d4d4;
}
.section .title{
  background-color: #17a2b8;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  text-align: center;
}
.content{
  padding: 8px 16px;
}
.content ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.content ul li{
  padding: 4px 0px;
}