import React, { useState } from 'react';
import './Preview.css';

import {{this}} from './{{this}}';

const Preview = () => {
  return (
    <div className="preview-container">
      <{{this}} />
    </div>
  )
};

export default Preview;